.featured{
display: flex;
flex-direction: column;
margin: 100px 200px;
/* border: 1px solid red; */
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top h1{
    color: black;
    font-weight: bold;
    font-size: x-large
}
h1{
    flex: 2;
}
p{
    flex: 3;
    color: grey;
}
.bottom{
display: flex;
justify-content: center;
margin: 0 100px;
gap: 20px;
/* border: 1px solid green; */
}